* {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.choices {
    margin: 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.choice:hover {
    background-color: #f0f0f0;
}

.result {
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: inline;
}

.scoreboard {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#reset-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
